<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filion">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Filion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for viewing model/gltf-binary mime-type -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="model/gltf-binary" />
            </intent-filter>

            <!-- Intent filter for viewing .glb extension fallback (when mime-type is present but generic, e.g. application/octet-stream) -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.glb" />
                <data android:pathPattern=".*\\..*\\.glb" />
                <data android:pathPattern=".*\\..*\\..*\\.glb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.glb" />
            </intent-filter>

            <!-- Intent filter for viewing .glb extension fallback (when mime-type is missing) -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.glb" />
                <data android:pathPattern=".*\\..*\\.glb" />
                <data android:pathPattern=".*\\..*\\..*\\.glb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.glb" />
            </intent-filter>
        </activity>

    </application>

</manifest>
